-r requirements.txt
bandit>=1.6.2, <2.0
black==v19.10.b0
flake8>=3.5,<4.0
isort>=4.3.16, <5.0
mock>=2.0.0,<3.0
pre-commit>=1.17.0, <2.0.
pylint>=2.3.1, <2.4.0
pytest
pytest-cov
pytest-grpc==0.8.0
pytest-mock
trufflehog>=2.1.0, <3.0
